<!DOCTYPE html>
<html lang="es">

<head>
	<title>Restaurante Bar Charles</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
		
</head>
<header>
	<div class="container">
		<div class="logo">
			<h1>𝑅𝑒𝓈𝓉𝒶𝓊𝓇𝒶𝓃𝓉𝑒 𝐵𝒶𝓇 𝒞𝒽𝒶𝓇𝓁𝑒𝓈</h1>
			<p></p>
		<nav>
			<ul>
				<li><a href="inicio.html ">𝐼𝓃𝒾𝒸𝒾𝑜</a></li>
				<li><a href="menu.html">𝑀𝑒𝓃𝓊</a></li>
				<li><a href="/Proyecto-Ambiente/log/reservas.php">𝑅𝑒𝓈𝑒𝓇𝓋𝒶𝓈</a></li>
				<li><a href="contacto.html">𝒞𝑜𝓃𝓉𝒶𝒸𝓉𝑜</a></li>
			</ul>
		</nav>
</header>

<section class="info-section">
    <div class="info-text">
      <h2 class="info-title">Restaurante Barcharles</h2>
      <p class="info-description">Bienvenidos a Charles, un Restaurante Bar único y lleno de estilo en el corazón de la ciudad. Nuestra experiencia culinaria y ambiente exclusivo han convertido a Charles en uno de los destinos más populares para aquellos que buscan disfrutar de una comida inolvidable o una noche de diversión y entretenimiento.
		En Charles, nos enorgullecemos de ofrecer una variedad de platillos y bebidas que combinan lo mejor de la gastronomía con ingredientes locales frescos y de alta calidad. Ya sea que desees degustar nuestros deliciosos platillos de autor, disfrutar de un exquisito coctel preparado por nuestros expertos bartenders, o simplemente relajarte en nuestro ambiente sofisticado, siempre encontrarás algo que te sorprenderá.Con un servicio excepcional y una decoración cuidadosamente diseñada, nuestro objetivo es que cada visita a Charles sea una experiencia memorable. Ya sea que estés buscando una cena romántica, una celebración con amigos, o simplemente una noche de diversión y entretenimiento, en Charles encontrarás el ambiente perfecto para crear momentos inolvidables. Nos encantaría recibirte en nuestro Restaurante Bar Charles y compartir contigo nuestra pasión por la buena comida, las bebidas de alta calidad y la vida social. ¡Te esperamos en Charles!.</p>
    </div>
  </section>
  
<body>
</body>


</html>
</body>

</html>