body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	display: inline-block;
	margin-right: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 350px;
}

input[type="submit"] {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.register-btn {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.register-btn a {
	color: white;
	text-decoration: none;
}

