<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/contacto.css">
    <title>Contactos</title>
</head>
<header>
    <div class="container">
        <div class="logo">
            <h1>Contactos </h1>
            <p>los siguientes links son para contacto directo </p>
        </div>
        <nav>
            <ul>
                <li><a href="/src/view/index.html">Inicio</a></li>
                <li><a href="/src/view/secundario/menu.html">Menu</a></li>
                <li><a href="/src/view/secundario/reservas.html">Reservas</a></li>
                <li><a href="/src/view/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <section id="contacto">
        <div class="container">
            <div class="redes-sociales">
                <a href="#"><img src="/src/pics/Twitter-logo-2681989927" alt="Twitter"></a>
                <a href="#"><img src="/src/pics/199530_facebook-logo-png-1604667666" alt="Facebook"></a>
                <a href="#"><img src="/src/pics/new-instagram-logo-png-transparent-3172482097" alt="Instagram"></a>
                <a href="#"><img src="/src/pics/64319177556c729f1806922bcd3adef5.png" alt="Email"></a>
            </div>
        </div>
    </section>



</body>

</html>