<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/src/css/menu.css">
  <script src="/src/menu.js"></script>
  <title>Restaurante Bar Charlies</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Restaurante Bar Charlies</h1>
        <p>Descripción breve del restaurante</p>
      </div>
      <nav>
        <ul>
            <li><a href="/src/view/index.html">Inicio</a></li>
            <li><a href="/src/view/menu.html">Menu</a></li>
            <li><a href="/src/view/reservas.html">Reservas</a></li>
            <li><a href="/src/view/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </div>
  </header>
  
  <!-- La sección está definida por un elemento section con el id de "menu" -->
  <section id="menu">
    <!-- hay un contenedor div con la clase "container" que contiene los diferentes elementos de menu-->
    <div class="container">
      <div class="menu-item">
        <img src="/src/pics/previews_0012_custom_1604997535.1665.jpg" alt="nombre-del-plato">
        <h3>Salchipapas Colombianas</h3>
        <p class="price">₡11.000</p>
        <p class="description">Descripción breve del plato</p>
        <!-- No funciona aun -->
        <button class="btn btn-primary" onclick="agregarAlCarrito('Salchipapas Colombianas', 11000)">Agregar al carrito</button>
      </div>
      <div class="menu-item">
        <img src="/src/pics/pizza-4-1.jpg" alt="nombre-del-plato">
        <h3>Pizza Artesanal</h3>
        <p class="price">₡15.000</p>
        <p class="description">Descripción breve del plato</p>
        <button class="btn btn-primary" onclick="agregarAlCarrito('Pizza Artesanal', 15000)">Agregar al carrito</button>
      </div>

      <div class="menu-item">
        <img src="/src/pics/th-1881588962" alt="nombre-del-plato">
        <h3>Espaguetti Italia</h3>
        <p class="price">₡4.500</p>
        <p class="description">Descripción breve del plato</p>
        <button class="btn btn-primary" onclick="agregarAlCarrito('Espaguetti Italia', 4500)">Agregar al carrito</button>
      </div>
      <div class="menu-item">
        <img src="/src/pics/th-1358255314" alt="hambugueza">
        <h3>Hambugueza Deluxe</h3>
        <p class="price">₡4.000</p>
        <p class="description">Descripción breve del plato</p>
        <button class="btn btn-primary" onclick="agregarAlCarrito('Hambugueza Deluxe', 4000)">Agregar al carrito</button>
      </div>
      <!-- Agregar más elementos para más platos -->
    </div>
 
  </section>
  <section id="carrito">
    <div class="container">
      <h2>Carrito de compras</h2>
      <table id="carrito-tabla">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td id="total-carrito">₡0</td>
            <td><button class="btn btn-primary" onclick="vaciarCarrito()">Vaciar carrito</button></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  <script src="/menu.js"></script>

</body>
</html>