<!DOCTYPE html>
<html>
<head>
	<title>Reservar en el Restaurante</title>
</head>
<body>
	<h1>Reservar en el Restaurante</h1>
	<form>
		<label for="name">Nombre:</label>
		<input type="text" id="name" name="name"><br>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email"><br>

		<label for="date">Fecha:</label>
		<input type="date" id="date" name="date"><br>

		<label for="time">Hora:</label>
		<input type="time" id="time" name="time"><br>

		<label for="guests">Número de Invitados:</label>
		<input type="number" id="guests" name="guests"><br>

		<label for="comments">Comentarios:</label><br>
		<textarea id="comments" name="comments"></textarea><br>

		<input type="submit" value="Enviar Reserva">
	</form>
</body>
</html>
